{% extends "invApp/layout.html" %}

{% block title %} Home {% endblock %}  <!-- Set the title of the page to "Home" -->

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Inventory App!</h1>  <!-- Main heading of the page -->
        <p class="lead">Manage your products efficiently.</p>  <!-- Subheading with a brief description -->
        <hr class="my-4">  <!-- Horizontal line for separation -->
        <p>Use the navigation bar to add, view, update or delete products.</p>  <!-- Instruction for users -->
        <a class="btn btn-primary btn-lg" href="{% url 'product_create' %}" role="button"> Add Product</a>  <!-- Button to navigate to the product creation page -->    
    </div>
{% endblock %}